@{
    ViewBag.Title = "Contact";
}
<h2>Контакты</h2>

<address>
    Relfina Products Shop<br />
    Краснодарский край, г. Новороссийск, ул. Золотаревского, д. 2Б<br />
    <abbr title="Тел:">P:</abbr>
    8(8617)111-22-33
</address>

<address>
    <strong>Поддержка:</strong>   <a href="">support@relfina.com</a><br />
    <strong>Каркетинг и реклама:</strong> <a href="">marketing@relfina.com</a><br/>
    <strong>Администратор:</strong> <a href="">admin@hohlunov.com</a>
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2836.5173692522417!2d37.761759915747916!3d44.68863519287637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f1f8f4db08477b%3A0x9b30b864db76a5ec!2z0YPQuy4g0JfQvtC70L7RgtCw0YDQtdCy0YHQutC-0LPQviwgMtCRLCDQndC-0LLQvtGA0L7RgdGB0LjQudGB0LosINCa0YDQsNGB0L3QvtC00LDRgNGB0LrQuNC5INC60YDQsNC5LCAzNTM5MTk!5e0!3m2!1sru!2sru!4v1593251434966!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>