@{
    ViewBag.Title = "Contact";
}
<h2>Контакты</h2>

<address>
    Relfina Products Shop<br />
    Краснодарский край, Краснодар ул. Западный обход, д. 222<br />
    <abbr title="Тел:">P:</abbr>
    8(861)000-00-00
</address>

<address>
    <strong>Поддержка:</strong>   <a href="">support@relfina.com</a><br />
    <strong>Каркетинг и реклама:</strong> <a href="">marketing@relfina.com</a>
</address>